# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Results
results/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
